.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    min-width: 230px;
}

.BuildControl button {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 5px;
    color: #398704;
    background-color: #fdfffc;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #AAAAAA;
    color: #e3e3e3;
    cursor: default;
    box-shadow: none;
}

.BuildControl button:hover:disabled {
    background-color: #AAAAAA;
    color: #e3e3e3;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #f2f2f2;
    color: #993305;
}

.BuildControl .More {
    background-color: #f2f2f2;
    color: #398704;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background: #993305;
    box-shadow: 0 8px 6px -6px black;
    color: #fff;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background: #398704;
    box-shadow: 0 8px 6px -6px black;
    color: #fff;
}